'scopeName': 'source.choicescript'
'name': 'Choicescript'
'fileTypes': ['txt']

'patterns': [
    {
    'match': '(\\*(allow_reuse|check_achievements|choice|disable_reuse|else|ending|fake_choice|finish|goto_random_scene|hide_reuse|line_break|more_games|page_break|return|scene_list|share_this_game|show_password|restore_game|stat_chart))\\b'
    'name': 'entity.name.function.choicescript'
    },
    {
    'match': '(\\*(if|elseif|elsif|selectable_if))\\b'
    'name': 'entity.name.function.choicescript'
    },
    {
    'match': '(\\*script)\\b'
    'name': 'entity.name.function.choicescript'
    },
    {
    'match': '(round\\()([0-9]+)(\\))'
    'name': 'entity.name.function.choicescript'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'constant.numeric.choicescript'
        '3':
            'name': 'entity.name.function.choicescript'
    },
    {
    'match': '(round\\()([a-zA-Z_]+)(\\))'
    'name': 'entity.name.function.choicescript'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'keyword.control.choicescript'
        '3':
            'name': 'entity.name.function.choicescript'
    },
    {
    'match': '(\\*(params|label|goto|goto_scene|goto|gotoref|gosub|gosub_scene|print|setref)\\s+(.+))'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'entity.name.function.choicescript'
        '3':
            'name': 'keyword.control.choicescript'
    'name': 'entity.name.function.choicescript'
    },
    {
    'match': '(\\*(achieve|achievement|allow_reuse|author|bug|image|link|sound|title))\\s+(.+)'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'string.unquoted'
    'name': 'meta.function.choicescript'
    },
    {
    'match': '(\\*(create|delete|set|temp|input_number|input_txt|rand))\\s+(\\w+)\\s+(.*)'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'entity.name.function.choicescript'
        '3':
            'name': 'keyword.control.choicescript'
        '4':
            'name': 'constant.numeric.choicescript'
    'name': 'meta.function.choicescript'
    },
    {
    'match': '(\\*looplimit)\\s+([0-9]*)'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'constant.numeric.choicescript'
    'name': 'meta.function.choicescript'
    },
    {
    'match': '(\\#)(.+)'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'string.unquoted'
    'name': 'meta.option.choicescript'
    },
    {
    'match': '(\\@\\{)'
    'captures':
        '1':
            'name': 'entity.name.function.choicescript'
        '2':
            'name': 'string.unquoted'
        '3':
            'name': 'entity.name.function.choicescript'
        '4':
            'name': 'string.unquoted'
        '5':
            'name': 'entity.name.function.choicescript'
    'name': 'meta.multireplace.choicescript'
    },
    {
    'match': '(\\||\\})'
    'name': 'entity.name.function.choicescript'
    },
    {
    'match': '(\\*comment.*$)'
    'name': 'comment.line.choicescript'
    }
]
